$bg-color: #DCDCDC;
$h1-color: blue;

$white: #fff;
$blue-default: #17a2b8!important;
$blue-primary: #007bff!important;
$blue-secondary: #6c757d!important;
$green: #28a745!important;
$red: #dc3545!important;
$yellow : #ffc107!important;
$color-lignt: #f8f9fa!important;
$color-dark: #343a40!important;

$krub-font: "Krub", Arial, Helvetica, sans-serif;
