<h1> Welcome to trainingAngular! </h1>
<gridster [options]="config">
	<gridster-item *ngFor="let item of items; index as i" [item]="item">
		<div class="item-container" [ngClass]=item.widget.class>
			<div class="item-mock">
				<span [ngClass]="item.widget.icon" aria-hidden="true"></span>
				<h4 [ngClass]=item.widget.class> item {{i + 1}}</h4>
				<p>c : {{item.cols}} r : {{item.rows}}</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
		</div>
	</gridster-item>
</gridster>
