<app-header></app-header>
<div class="container">
  <div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <p><strong> Temps : </strong><span appChangeColor>{{realTime}}</span></p>
    <p><strong> Temps défault : </strong><span appChangeColor>{{realTime | date}}</span></p>
    <p><strong> Temps medium format : </strong><span appChangeColor>{{realTime | date:'medium'}}</span></p>
    <p><strong> Temps custom upper : </strong><span appChangeColor>{{realTime | date:'h:mm a z' | uppercase}}</span></p>
    <p>{{"test capitalize pipe" | capitalise}}</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<app-footer></app-footer>
